<h1>ПОИСК</h1>
<p>Введите запрос</p>

<form action="/results/" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Наименование</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="doctor" class="form-label">Врач</label>
        <input type="text" class="form-control" id="doctor" name="doctor">
    </div>
    <button type="submit" class="btn btn-primary">Найти</button>
</form>
