<h1>ПОИСК</h1>
<p>Введите запрос</p>

<form action="/results/" method="POST">
    <div class="mb-3">
        <label for="service" class="form-label">Наименование</label>
        <select class="form-select" name="service_id">
            {{#each services}}
                <option value={{this.id}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="doctor" class="form-label">Врач</label>
        <input type="text" class="form-control" id="doctor" name="doctor">
    </div>
    <div class="mb-3">
        <label for="service_type" class="form-label">Вид услуг</label>
        <select class="form-select" name="service_type">
            <option selected></option>
            {{#each service_types}}
                <option value={{this.id}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Найти</button>
</form>
